aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
flake8==3.8.4
idna==2.10
iexfinance==0.4.3
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==5.0.2
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyee==8.1.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
six==1.15.0
slack-bolt==1.0.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
yarl==1.6.3
